sphinx_rtd_theme


# Pin it because 3.0.0 breaks
#
# Exception occurred:
#   File "site-packages/snowballstemmer/__init__.py", line 27, in stemmer
#     raise KeyError("Stemming algorithm '%s' not found" % lang)
# KeyError: "Stemming algorithm 'porter' not found"
snowballstemmer<3
